@import "src/styles";
.counter-container {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    width: 200px;
    padding: 5px;
    // text-align: center;
  }

  button {
    padding: 5px 8px;
    margin: 2px;
    color: white;

    &.increment {
      background-color: $green;
      border: 1px solid $green;
    }

    &.decrement {
      background-color: $red;
      border: 1px solid $red;
    }
  }
}
