<div class="password-container">
  <div class="password">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      #passwordInput="ngModel"
    />
  </div>

  <div class="password-strength">
    <progress [value]="passwordStrengthPercent" [max]="100"></progress>
  </div>

  <div class="password-hints" *ngIf="passwordInput.touched">
    <ul>
      <li *ngIf="!is8Characters">Min Length of 8 Required.</li>
      <li *ngIf="!hasOneCapitalLetter">One or More Capital Letter Required.</li>
      <li *ngIf="!hasOneNumber">One or More Number Required.</li>
      <li *ngIf="!hasOneSpecialCharacter">
        One or More Special Characters Required.
      </li>
    </ul>
  </div>
</div>
